language: node_js
node_js:
- 10
branches:
  only:
  - master
install:
  - npm i -g yarn
  - yarn
  - yarn build
addons:
  ssh_known_hosts: vdorchan.com
script:
- rsync -avu --progress --delete /Users/vdorchan/Documents/www/Vue-projects/vue-movie/dist/ root@35.241.118.163:/srv/www/vdorchan.com/movie/
before_install:
- openssl aes-256-cbc -K $encrypted_0ad490829f5d_key -iv $encrypted_0ad490829f5d_iv
  -in id_rsa.enc -out ~/.ssh/id_rsa -d
